body {
  font-family: 'Lora', serif !important;
  font-size: 18px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 50px;
  width: 320px;
  color: #999;
  font-size: 15px;
}

.sidebar li > a {
  font-size: 18px;
  color: #666;
  padding: 4px;
}

.sidebar li > a:hover {
  color: #933E45;
  text-decoration: underline;
}

.sidebar li.active > a {
  color: #333;
  font-weight: bold;
}

.sidebar li > ul {
  margin-left: 32px;
}

.sidebar li > ul a {
  font-size: 16px;
}

.content {
  padding-top: 50px;
  padding-left: 100px;
  border-left: 1px solid #f2f2f2;
  position: absolute;
  left: 280px;
  width: 720px;
  line-height: 1.5;
}

.content .row {
  margin-bottom: 32px;
  padding-top: 32px;
  border-top: 1px solid #f0f0f0;
}
.content .row:nth-child(1) {
  border: none;
  padding-top: 0;
}

.content h2, .content h3, .content h4 {
  font-weight: bold;
}
.content h3 {
  font-size: 22px;
  margin-top: 64px;
}

.content p {
  margin: 32px 0;
}